{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron home">
    <div class="container">
        <h1>Student</h1>
    </div>
</div>
<div class="container main-container">
    <table id="teamsboard" class="table table-striped">
        <thead>
            <tr>
                <td><b>Student</b></td>
                <td><b>Website</b></td>
                <td><b>Affiliation</b></td>
                <td class="hidden-xs"><b>Country</b></td>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td><a href="{{ request.script_root }}/student/{{ student.id }}">{{ student.name }}</a></td>
                <td>{% if student.website and student.website.startswith('http://') %}<a href="{{ student.website }}">{{ student.website }}</a>{% endif %}</td>
                <td><span>{% if student.affiliation %}{{ student.affiliation }}{% endif %}</span></td>
                <td class="hidden-xs"><span>{% if student.country %}{{ student.country }}{% endif %}</span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if student_pages > 1 %}
    <div class="text-center">Page
        <br>
        {% if curr_page != 1 %}<a href="{{ request.script_root }}/students/{{ curr_page-1 }}">&lt;&lt;&lt;</a>{% endif %}
        {% for page in range(1, student_pages + 1) %}
            {% if curr_page != page %}
                <a href="{{ request.script_root }}/students/{{ page }}">{{ page }}</a>
            {% else %}
                <b>{{page}}</b>
            {% endif %}
        {% endfor %}
        {% if curr_page != student_pages %}<a href="{{ request.script_root }}/students/{{ curr_page+1 }}">&gt;&gt;&gt;</a>{% endif %}
    <a href="{{ request.script_root }}">
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
