{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron home">
    <div class="container">
        <h1>Team Challenges</h1>
    </div>
</div>
<div class="container main-container">
    <table id="solvesboard" class="table table-striped">
        <thead>
            <tr>
                <td><b>name</b></td>
                <td><b>desc</b></td>
            </tr>
        </thead>
        <tbody>
        {% for chal in challenges %}
            <tr>

                <td>{{ chal.name }}</td>
                <td><span>{{ chal.description }}</span></td>

            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
