{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron home">
    <div class="container">
        <h1>test scores</h1>
    </div>
</div>
<div class="container main-container">
    <table id="score" class="table table-striped">
        <thead>
            <tr>
                <td><b>name</b></td>
                <td><b>Students Solved</b></td>

            </tr>
        </thead>
        <tbody>
        {% for chal in challenges %}
            <tr>
                <td><span>{{ chal.name }}</span></td>
                <td><span>{{ chal.num_students_solve(1) }}</span></td>

            </tr>

        {% endfor %}
        </tbody>
    </table>



</div>
{% endblock %}

{% block scripts %}
{% endblock %}