{% extends "admin/base.html" %}

{% block content %}
<div class="row">
    <br>
    <h1>New Section</h1>
    <form method="POST" action="{{ request.script_root }}/admin/section/new" enctype="multipart/form-data">
        <label for="file">Tab-delimited xls file containing student data for a section:</label>
        <input type="hidden" name="nonce" value="{{ nonce }}">
        <input id="file" type="file" name="file" />
        <br/>
        <input type="submit" value="Upload" class="text-center btn btn-theme btn-outlined"/>
    </form>
</div>
{% endblock %}
