{% extends "admin/base.html" %}

{% block stylesheets %}
<style>
td { text-align:center; }
.checkbox { margin: 0px !important; }
input[type="checkbox"] { margin: 0px !important; position: relative; top: 5px; }
</style>
{% endblock %}

{% block content %}
<div class="row">
    <br>
    <h1>Students</h1>
    <div id="confirm" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="text-center">Delete User</h2>
                </div>
                <div class="modal-body" style="height:110px">
                    <div class="row-fluid">
                        <div class="col-md-12">
                            <form method="POST">
                                <input type="hidden" name="route">
                                <input id="nonce" type="hidden" name="nonce" value="{{ nonce }}">
                                <div class="small-6 small-centered text-center columns">
                                    <p>Are you sure you want to delete <strong id="confirm-student-name"></strong>?</p>
                                    <button type="button" data-dismiss="modal" class="btn btn-theme btn-outlined">No</button>
                                    <button type="button" id="delete-user" class="btn btn-theme btn-outlined">Yes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="email-user" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="text-center">Email User</h2>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        <input type="hidden" name="id">
                        <input type="hidden" name="nonce" value="{{ nonce }}">
                        <textarea class="form-control" name="msg" placeholder="Enter your message here" rows="15"></textarea>
                        <br>
                        <div id="email-user-errors"></div>
                        <button type="button" id="send-user-email" class="btn btn-theme btn-outlined">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="user" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="text-center">Edit User</h2>
                </div>
                <div class="modal-body" style="padding:20px; height:525px;">
                    <form method="POST" action="{{ request.script_root }}/admin/students/">
                        <input type="hidden" name="nonce" value="{{ nonce }}">
                        <input type="hidden" name="id">
                        <div class="form-group">
                            <label for="name">Student Name</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Enter new student name" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Team ID</label>
                            <input type="text" class="form-control" name="team" id="team" placeholder="Enter new team id" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Enter new email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password" />
                        </div>
                        <div id="results">

                        </div>
                        <button id="update-user" type="submit" class="btn btn-theme btn-outlined pull-right">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="new-user" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="text-center">New Team</h2>
                </div>
                <div class="modal-body" style="padding:20px; height:525px;">
                    <form method="POST" action="{{ request.script_root }}/admin/student/new">
                        <input type="hidden" name="nonce" value="{{ nonce }}">
                        <input type="hidden" name="id">
                        <div class="form-group">
                            <label for="name">Student Name</label>
                            <input type="text" class="form-control" name="name" id="student-name" placeholder="Enter student name" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Student Email</label>
                            <input type="text" class="form-control" name="email" id="student-email" placeholder="Enter student email" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Team ID</label>
                            <input type="text" class="form-control" name="team" id="team-id" placeholder="Enter team ID" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Section Number</label>
                            <input type="text" class="form-control" name="section" id="section-id" placeholder="Enter section number" required>
                        </div>
                        <button id="create-user" type="submit" class="btn btn-theme btn-outlined pull-right">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table id="studentsboard" class="table table-striped">
        <thead>
            <tr>
                <td width="10px" class="text-center"><b>ID</b>
                </td>
                <td class="text-center"><b>Student</b>
                </td>
                <td class="text-center"><b>Team</b>
                </td>
                <td class="text-center"><b>Email</b>
                </td>
                <td class="text-center"><b>Admin</b>
                </td>
                <td class="text-center"><b>Verified</b>
                </td>
                <td class="text-center"><b>Settings</b>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr name="{{ student.id }}">
                <td class="student-id">{{ student.id }}</td>
                <td class="student-name"><a href="{{ request.script_root }}/admin/student/{{ student.id }}">{{ student.name | truncate(32) }}</a>
                </td>
                <td class="student-team"><a href="{{ request.script_root }}/admin/team/{{ student.teamid }}">{{ student.teamname() | truncate(32) }}</a>
                </td>
                <td class="student-email">{{ student.email | truncate(32) }}</td>
                <td class="student-admin">
                    <div class="center-block checkbox text-center">
                        <input type="checkbox" {% if student.admin %}checked{% endif %}>
                    </div>
                </td>
                <td class="student-verified">
                    <div class="center-block checkbox text-center">
                        <input type="checkbox" {% if student.verified %}checked{% endif %}>
                    </div>
                </td>
                <td class="text-center"><span>
                    <i class="fa fa-pencil-square-o"></i>
                    {% if can_send_mail() %}<i class="fa fa-envelope"></i>{% endif %}
                    <i class="fa fa-times"></i>
                </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button id="add-student" type="button" class="text-center btn btn-theme btn-outlined">
        + New Student
    </button>
    {% if pages > 1 %}
    <div class="text-center">Page
        <br>
        {% if curr_page != 1 %}<a href="{{ request.script_root }}/admin/students/{{ curr_page-1 }}">&lt;&lt;&lt;</a>{% endif %}
        {% for page in range(1, pages + 1) %}
            {% if curr_page != page %}
                <a href="{{ request.script_root }}/admin/students/{{ page }}">{{ page }}</a>
            {% else %}
                <b>{{ page }}</b>
            {% endif %}
        {% endfor %}
        {% if curr_page != pages %}<a href="{{ request.script_root }}/admin/students/{{ curr_page+1 }}">&gt;&gt;&gt;</a>{% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
function load_update_modal(id, name, team, email, website, affiliation, country){
    var modal_form = $('#user form');

    modal_form.find('input[name=name]').val(name)
    modal_form.find('input[name=team]').val(team)
    modal_form.find('input[name=id]').val(id)
    modal_form.find('input[name=email]').val(email)
    modal_form.find('input[name=website]').val(website)
    modal_form.find('input[name=affiliation]').val(affiliation)
    modal_form.find('input[name=country]').val(country)
    $('#user form').attr('action', '{{ request.script_root }}/admin/student/'+id)
    $('#user').modal("show");
}

$('#update-user').click(function(e){
    e.preventDefault();
    var id = $('#user input[name="id"]').val()
    var user_data = $('#user form').serializeArray()
    $.post($('#user form').attr('action'), $('#user form').serialize(), function(data){
        var data = $.parseJSON(JSON.stringify(data))
        for (var i = 0; i < data['data'].length; i++) {
            if (data['data'][i] == 'success'){
                var row = $('tr[name='+id+']')
                console.log($.grep(user_data, function(e){ return e.name == 'name'; })[0]['value'])
                console.log(row.find('.student-name > a'))
                row.find('.student-name > a').text( $.grep(user_data, function(e){ return e.name == 'name'; })[0]['value'] );
                row.find('.student-email').text( $.grep(user_data, function(e){ return e.name == 'email'; })[0]['value'] );

                row.find('.student-website > a').empty()
                var website = $.grep(user_data, function(e){ return e.name == 'website'; })[0]['value']
                row.find('.student-website').append($('<a>').attr('href', website).text(website));

                row.find('.student-affiliation').text( $.grep(user_data, function(e){ return e.name == 'affiliation'; })[0]['value'] );
                row.find('.student-country').text( $.grep(user_data, function(e){ return e.name == 'country'; })[0]['value'] );
                $('#user').modal('hide');
            }
            else{
                $('#results').append($('p').text( data['data'][i] ))
            }
        };
    })
});

$('.student-admin input').on('change', function(){
    var elem = $(this).parent().parent().parent();
    var id = elem.find('.student-id').text().trim();
    var admin = $(this).prop('checked');
    var nonce = $('#nonce').val();
    console.log(admin);

    $.post('{{ request.script_root }}/admin/student/'+id, {'admin':admin, 'nonce':nonce});
});

$('.student-verified input').on('change', function () {
    var elem = $(this).parent().parent().parent();
    var id = elem.find('.student-id').text().trim();
    var verified = $(this).prop('checked');
    var nonce = $('#nonce').val();
    console.log(verified);

    $.post('{{ request.script_root }}/admin/student/' + id, {'verified': verified, 'nonce': nonce});
})

$('#send-user-email').click(function(e){
    e.preventDefault();
    var id = $('#email-user input[name="id"]').val();
    var email_data = $('#email-user form').serializeArray();
    $.post($('#email-user form').attr('action'), $('#email-user form').serialize(), function(data){
        if (data == "1"){
            $('#email-user').modal('hide');
        }
        else{
            $('#email-user-errors').append("<b>Failed to send email</b>");
        }
    });
});

$('#delete-user').click(function(e){
    e.preventDefault();
    var id = $('#confirm input[name="id"]').val()
    var user_data = $('#confirm form').serializeArray()
    $.post($('#confirm form').attr('action'), $('#confirm form').serialize(), function(data){
        var data = $.parseJSON(JSON.stringify(data))
        if (data == "1"){
            location.reload()
        }
    })
});

$('#add-team').click(function(){
    $('#new-user').modal("show");
});

$('.fa-pencil-square-o').click(function(){
    var elem = $(this).parent().parent().parent();
    var id = elem.find('.student-id').text().trim();
    var name = elem.find('.student-name').text().trim();
    var href = elem.find('.student-team a').attr('href');
    var team = href.slice(href.lastIndexOf('/') + 1).trim();
    var email = elem.find('.student-email').text().trim();
    var website = elem.find('.student-website').text().trim();
    var affiliation = elem.find('.student-affiliation').text().trim();
    var country = elem.find('.student-country').text().trim();

    load_update_modal(id, name, team, email, website, affiliation, country);
});

function load_confirm_modal(id, name){
    var modal = $('#confirm')
    modal.find('input[name=id]').val(id)
    modal.find('#confirm-student-name').text(name)
    $('#confirm form').attr('action', '{{ request.script_root }}/admin/student/'+id+'/delete');
    $('#confirm').modal();
}

$('.fa-times').click(function(){
    var elem = $(this).parent().parent().parent();
    var id = elem.find('.student-id').text().trim();
    var name = elem.find('.student-name').text().trim();
    load_confirm_modal(id, name)
});

function load_email_modal(id){
    var modal = $('#email-user')
    modal.find('textarea').val("")
    modal.find('input[name=id]').val(id)
    $('#email-user-errors').empty()
    $('#email-user form').attr('action', '{{ request.script_root }}/admin/student/'+id+'/mail');
    $('#email-user').modal();
}

$('.fa-envelope').click(function(){
    var elem = $(this).parent().parent().parent();
    var id = elem.find('.student-id').text().trim();
    load_email_modal(id);
});
</script>
{% endblock %}
