{% extends "admin/base.html" %}

{% block content %}
<div class="row">
    <br>
    <h1 class="text-center">Success!</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.password }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $("#section-dropdown-menu").remove()
        $("#section-label").remove()
    </script>
{% endblock %}
